.title{
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    &_fsz14{
        font-size: 14px;
        line-height: 21px;
    }
    &_fsz16{
        font-size: 16px;
    }
    &_fsz20{
        font-size: 20px;
        line-height: 30px;
    }
   &_fsz36{
    font-size: 36px;
   }
   &_fsz48{
    font-size: 48px;
    }
    &__section-title{
        text-align: center;
        @include before_circle;
        position: relative;
        margin-bottom: 0;
        &::before{
            content: '';
            top:10px;
            left:50%;
            transform: translateX(-50%);
        }
    }
    &__section-subtitle{
        text-align: center;
    }

}